.criminalList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.criminal {
    flex-basis: 23%;
    margin: 1rem;
    border: 1px dotted rgb(0, 174, 255);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgb(84, 91, 94);
    color: rgb(223, 222, 222);
}

h3 { 
    display: flex;
    justify-content: center;
}