  @import "./criminals.css";
  @import "./officers.css";


  .lists { 
    display: flex;
    flex-direction: row 

  }

  .criminalsContainer { 
    flex: 4
  }

  .noteListContainer {
    flex: 1;
  }

  .noteFormContainer { 
    display: flex;
    flex-direction: row;
  }

  .noteListButton { 
    display: flex;
  }

  .note { 
    display: flex;
    flex-direction: row;
  }